<div class="item-card">
  <div class="card text-center">
    <div class="card-header">
      {{ itemInformation.name }}
    </div>
    <div class="card-body">
      <div class="row">
        <p class="card-text">{{ itemInformation.price }}</p>
      </div>
      <div class="row">
        <p class="card-text">{{ itemInformation.description }}</p>
      </div>
      <div class="row text-center">
        <div class="col-sm-12">
          <div class="btn-group buttons">
            <button class="btn btn-primary item-button" (click)="editItem()">Edit Item</button>
            <button class="btn btn-danger item-button" (click)="deleteItem()">Delete Item</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
